<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="meta">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">조준형</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/jojun94">GitHub</a>
                    </li>
                    <!--예비1-->
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">예비1</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h2 class="display-3">신림 친목 서비스</h2>
                    <!--<p>`Spring Boot` , `REST API` , `REST Templet`, `JPA`, `AMQP`, `Docker`, `AWS` 등의 기술을 학습 및 체득 하기 위한 프로젝트이다. </p>-->
                    <p>이 프로젝트는 `Spring Boot` , `REST API` , `REST Templet`, `JPA`, `AMQP`, `Docker`, `AWS` 등의 기술을 학습 및 체득 하기 위한 프로젝트이다. </p>
                    <p> `API Server`, `Client`, 2개의 아키텍처로 구성되어 있으며 데이터 흐름도 및 단위 기능 실행 화면은 GitHub에 수록하였다. </p>
                    <!--READ ME 추가-->
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Go Project READ ME &raquo;</a></p>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-5">
                        <h3>친구 추가하기</h3>
                        <p>친구의 정보를 입력하여 목록에 추가합니다. </p>
                        <p><a class="btn btn-secondary" href="#" role="button">추가하기 &raquo;</a></p>
                    </div>
                    <div class="col-md-5">
                        <h3>친구 조회하기</h3>
                        <p>친구의 목록을 조회하거나 수정 또는 삭제 합니다. </p>
                        <p><a class="btn btn-secondary" href="#" role="button">조회하기 &raquo;</a></p>
                    </div>
                    <!--<div class="col-md-4">
                        <h2>예비 컨텐츠 1</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div>-->
                </div>

                <hr>

            </div> <!-- /container -->

        </main>

    </body>
</html>